@tailwind base;
@tailwind components;
@tailwind utilities;

.spotify-grid {
  display: grid;
  grid-template-areas:
      "left-sidebar main-view"
      "now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

/* /left bar css
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: left-sidebar;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #000;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    width: calc(var(--left-sidebar-width)* 1px);
    z-index: var(--left-sidebar-grid-area-z-index);
*/



@layer base {
  :root {
   /* --background-base: #121212;
    --background-highlight: #1f1f1f;
    --background-press: #000;
    --background-elevated-base: #1f1f1f;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #191919;
    --background-tinted-base: hsla(0, 0%, 100%, .1);
    --background-tinted-highlight: hsla(0, 0%, 100%, .14);
    --background-tinted-press: hsla(0, 0%, 100%, .05);
    --text-base: #fff;
    --text-subdued: #b3b3b3;
    --text-bright-accent: #1ed760;
    --text-negative: #f3727f;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #4cb3ff;
    --essential-base: #fff;
    --essential-subdued: #7c7c7c;
    --essential-bright-accent: #1ed760;
    --essential-negative: #ed2c3f;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #4cb3ff;
    --decorative-base: #fff;
    --decorative-subdued: #292929; */

    
    --background: #000000;
    --foreground: #fff;
    --card: #121212;
    --card-foreground: #b3b3b3;
    --popover: #121212;
    --popover-foreground: #b3b3b3;
    --primary: #1ed760;
    --primary-foreground: #1ed760;
    --secondary: #1ed760;
    --secondary-foreground: #1ed760;
    --muted: #1f1f1f;
    --muted-foreground: #b3b3b3;
    --accent: #191919;
    --accent-foreground: #fafafa;
    --destructive: #d0a934;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d3d3d3;
    --chart-1: #1e78c1;
    --chart-2: #4caf50;
    --chart-3: #ffb74d;
    --chart-4: #9c3d9c;
    --chart-5: #e53935;
  }

  .dark {
    --background: #000000;
    --foreground: #fff;
    --card: #121212;
    --card-foreground: #b3b3b3;
    --popover: #121212;
    --popover-foreground: #b3b3b3;
    --primary: #1ed760;
    --primary-foreground: #1ed760;
    --secondary: #1ed760;
    --secondary-foreground: #1ed760;
    --muted: #1f1f1f;
    --muted-foreground: #b3b3b3;
    --accent: #191919;
    --accent-foreground: #fafafa;
    --destructive: #d0a934;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d3d3d3;
    --chart-1: #1e78c1;
    --chart-2: #4caf50;
    --chart-3: #ffb74d;
    --chart-4: #9c3d9c;
    --chart-5: #e53935;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}